body {
    background-color: aliceblue;
    text-align: center;
    margin: auto;
    border: 20px 50px;
    padding: 100px 250px;
}

  /* nav styles */
  a:link, a:visited, a:hover, a:active {
    background-color: bisque;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: indigo;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

h2 {
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

h3 {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#GirlImg {
    image-orientation: 30deg;
}

.list {
    color: darkgoldenrod;
    text-decoration: none;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 150%;
   
}

.table {
    font-family: arial, sans-serif;
    border-collapse: inherit;
    border-color: black;
    text-align: center;
  }
  
  td, th {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }