
* {
  background-color: lightgrey;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

li {
  list-style: none;
  font-size: large
}

table, td {
  border: 1px solid black;
}

table {
  align-items: center;
  margin: auto;
}
