* {
  background-color: gray;
}



#fahedPage {
    background-color: lightblue; 
}
#brandon {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

#brandonContact {
  list-style: none;
}

#brandonIMG {
  border-radius: 25%;
  object-fit: cover;
  object-position: 100% 0;
  width: 300px;
  height: 375px;
}

a:link#brandonEmail {
  color: black;

}

div#hhthacker :hover {
  opacity: 0.5;
}

div#hhthacker img {
  border-radius: 100%;

}
