@font-face {
  font-family: HelveticaNowDisplayBLK;
  src: url("fonts/HelveticaNowDisplayXBlk.otf") format("opentype")
}

* {
  background-color: #808080;
  font-family: Arial, Helvetica, sans-serif
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  min-height: 100%;
}

/* styles the home button at top of page */
.butn {
  background: #63797F;
  background-image: -webkit-linear-gradient(top, #63797F, ##53756A);
  background-image: -moz-linear-gradient(top, #63797F, ##53756A);
  background-image: -ms-linear-gradient(top, #63797F, ##53756A);
  background-image: -o-linear-gradient(top, #63797F, ##53756A);
  background-image: linear-gradient(to bottom, #63797F, ##53756A);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: HelveticaNowDisplayBLK;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  grid-column-start: 2;
  grid-column-end: 3;
}

.butn:hover {
  background: #00C896;
  text-decoration: none;
}

#HomeButton {
  background: #00C896;
  display: inline;
  grid-row-start: 1;
  grid-column-start: 3;
  z-index: 1;
  align-self: center;
  padding: 36px 30px;
  justify-self: center;
}

.MainHeader {
  background-color: #00C896;
  grid-row: 1;
  grid-column: 1 / -1;
  margin-top: -8px;
  padding-top: 5%;
  padding-left: 16%;
}

#Greeting {
  background: #00C896;
  display: inline;
  grid-row-start: 1;
  grid-column-start: 3;
  z-index: 1;
  align-self: center;
  justify-self: center;
  font-size: 3em;
}

nav {
  grid-column: 1 / -1;
}

#AboutMe {
  grid-row-start: 3;
  column-span: 3;
  grid-column: 1 / -1;
}

.AboutMeHeader {
  background-color: #53756A;
  grid-row-start: 2;
  grid-column: 1 / -1;
  padding: 10px 25px;
  margin: 0;
}

.TableHeader {
  background-color: #53756A;
  grid-row-start: 4;
  grid-column: 1 / -1;
  padding: 10px 25px;
  margin: 0;
}

.Table1 {
  grid-row-start: 5;
  grid-column: 1 / -1;
}

font-family: HelveticaNowDisplayBLK;
